#################### Files to exclude ####################
# Lintting files
.coverage
index.txt

################### Folders to exclude ###################
# all IDE folders
**vscode**
**idea**

# all cache folders
**cache**

# all environment folders
**env**

################## Files not to exclude ##################

################# Folders not to exclude #################
