# Remember to add the package, its single version and the documentation page

# Install packages from requirements.txt
--requirement requirements.txt

freezegun>=1.0.0,<2.0.0  # https://github.com/spulec/freezegun
pytest>=8.0.0,<9.0.0  # https://docs.pytest.org
pytest-asyncio>=0.0.0,<1.0.0  # https://pytest-asyncio.readthedocs.io
pytest-randomly>=3.0.0,<4.0.0  # https://github.com/pytest-dev/pytest-randomly
coverage[toml]>=7.0.0,<8.0.0  # https://coverage.readthedocs.io
ruff>=0.0.0,<1.0.0  # https://docs.astral.sh/ruff
mypy[reports]>=1.0.0,<2.0.0  # https://mypy.readthedocs.io
bandit>=1.0.0,<2.0.0  # https://bandit.readthedocs.io
pre-commit>=3.0.0,<4.0.0  # https://pre-commit.com
